<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>NUnit Test Method</Title>
            <Author>Greg McGuffey</Author>
            <Description>Test method using the arrange/act/assert paradigm.</Description>
            <Shortcut>testmethod</Shortcut>
        </Header>
        <Snippet>
            <Declarations>
                <Literal Editable="true">
                    <ID>sut</ID>
                    <ToolTip>System Under Test - method name normally.</ToolTip>
                    <Default>method</Default>
                </Literal>
                <Literal Editable="true">
                    <ID>condition</ID>
                    <ToolTip>Condition of the test.</ToolTip>
                    <Default>when</Default>
                </Literal>
                <Literal Editable="true">
                    <ID>result</ID>
                    <ToolTip>Expected result of the test.</ToolTip>
                    <Default>result</Default>
                </Literal>
            </Declarations>
            <Code
                Language="CSharp"
                Kind="method decl">
                <![CDATA[
[Test]
public void $sut$_$condition$_$result$()
{
    // Arrange
    $end$
    
    // Act

    // Assert
}
                
                ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>